# tested with crosstool-ng git baseline c175b21ce470

CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_ARCH_RISCV=y
CT_ARCH_ARCH="rv32imac_zicsr_zifencei"
CT_ARCH_ABI="ilp32"

CT_TARGET_CFLAGS="-ftls-model=local-exec"
CT_TARGET_VENDOR="picolibc"

CT_LIBC_PICOLIBC=y
CT_LIBC_PICOLIBC_DEFAULT_FLASH_ADDR="0x20000000"
CT_LIBC_PICOLIBC_DEFAULT_FLASH_SIZE="0x4000000"
CT_LIBC_PICOLIBC_DEFAULT_RAM_ADDR="0x80000000"
CT_LIBC_PICOLIBC_DEFAULT_RAM_SIZE="0x00200000"
CT_CC_GCC_CONFIG_TLS=y
CT_CC_LANG_CXX=y

# enable gdb
CT_DEBUG_GDB=y
CT_GDB_CROSS_PYTHON=y

# optional: customize paths
CT_LOCAL_TARBALLS_DIR="${CT_TOP_DIR}/.src"
CT_WORK_DIR="${CT_TOP_DIR}/.build"
CT_BUILD_TOP_DIR="${CT_WORK_DIR:-${CT_TOP_DIR}/.build}/${CT_HOST:+HOST-${CT_HOST}/}${CT_TARGET}"
CT_BUILD_DIR="${CT_BUILD_TOP_DIR}/build"
CT_PREFIX_DIR="${HOME}/devel/tools/x-tools/riscv32-picolibc-elf"

